.categories-page {
  .categories-list {
    column-count: 2;

    li {
      display: inherit;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid-column;
    }
  }
}