.user-panel {
  width: 100%;
}

nav.user-menu {
  margin: 10px 0 15px;
  .fancy-border();
  ul {
    .menuLikeList();

    li {
      flex-grow: 1;
    }

    a {
      display: block;
      text-align: center;
      padding: 10px 0;
      background: @buttonBgColor;

      &:hover, &.active {
        background: @sectionBgColor;
      }
    }
  }

}

.user-panel-form {
  display: flex;

  fieldset {
    .blockContent();
    padding: 20px 25px;

    figure {
      margin-bottom: 20px;
    }
  }

  fieldset:not(.user-edit) {
    label{
      border-bottom: 2px solid @bodyFontColor;
      padding-bottom: 5px;
      font-size: 1.4rem;
      margin: 0 0 20px 0;
    }
  }

  .user-panel-buttons, .avatarSection {
    button, .button {
      width: 100%;
      margin: 5px 0;
      padding: 10px;
      border: none;
    }
  }

  .selectedCategories, .selectedTags {
    li {
      font-weight: bold;
    }
  }
  .selectedTags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
    li {
      margin-right: 8px;
      margin-bottom: 5px;
      &:after {
        content: ',';
      }

      &:last-child:after {
        content: ''
      }
    }
  }
  .selectedCategories {
    margin: 15px 0;
      li {
        display: flex;
        margin: 10px 0;
        font-weight: bold;
        justify-content: space-between;
      }
  }

  .tagAddContainer, .categoryAddContainer {
    border-top: 2px solid @bodyFontColor;
    padding-top: 10px;
    margin-top: 10px;
  }
}

.recommendedTags {
  background: @panelBg;
  .fancy-border();
  padding: 10px;
  display: none;

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    .fa-spin {
      animation: fa-spin 0.7s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
  
  li {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    margin: 5px 0;
    transition: color @defTransDur;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

}