.errorPage {

  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 500px;
  color: @devoteColor;

  h1 {
    border-bottom: none;
    font-size: 5rem;
    margin-bottom: 10px;
  }

  .errorMessage {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0;
  }
}