.filesPage {

  .file-selector-container {
    min-height: 600px;
    margin-top: 0;
    border-top: 2px solid @bodyFontColor;


    .file figure{
      position: relative;
      &:hover::after {
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        .fullArea();
        background: rgba(0,0,0, .4);
        background-image: url(../images/deleteIcon.png);
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }
  }

}