@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'),
       url('../fonts/lato-v13-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v13-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*{
	box-sizing: border-box;
}
body{
	background-color: @bodyBgColor;
	color: @bodyFontColor;
	font-family: Lato, sans-serif;
}
html, body {
	height: 100%;
}


#page {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 1400px;
	min-width: 1024px;
	margin: 0 auto;
}
#content {
	flex: 1 0 auto;
	max-width: 1200px;
	min-width: 320px;
	width: 90%;
	margin: 20px auto;
}
footer {
	flex: 0 0 auto;
}

aside{
	flex-grow: 0;
	flex-shrink: 0;
	margin-left: 20px;
	flex-basis: 300px;
	flex-direction: column;
	ol{
		padding-left: 45px;
	}

}

main {
	margin: 0 auto;
	width: 100%;
	flex-grow: 0;
	flex-shrink: 1;
}
img:not(.no-style){
	width: 100%;
}
table a{
	display: block;
}
h1{
	margin: 0 0 30px 0;
	font-size: 1.6rem;
}
h2{
	font-size: 1.4rem;
	margin: 0 0 20px 0;
}
h1, h2{
	border-bottom: 2px solid @bodyFontColor;
	padding-bottom: 5px;
}
a{
	color: @bodyFontColor;
	transition: all @defTransDur;
	text-decoration: none;
	outline: none;
	&:hover{
		color: @anchorHoverColor;
	}
}
ul {
	.clearedList();
}
input[type=text], input[type=email], input[type=password], textarea, select{
	background-color: @anchorHoverColor;
	border: 2px solid @innerBorderColor;
	outline: none;
	padding: 5px;
	width: 100%;
	resize: none;
	transition: border-color @defTransDur;
	&:focus{
		border-color: @bodyFontColor;
	}
}
textarea {
	height: 200px;
}
button, .button{
	background: @buttonBgColor;
    border: 1px solid @outerBorderColor;
    color: @bodyFontColor;
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;
	text-align: center;
    outline: none;
	transition-property: background, color;
    transition-duration: @defTransDur;
	text-decoration: none;
	display: inline-block;
	&:hover {
		background-color: lighten(@buttonBgColor, 4%);
		color: @buttonFontColorHover;
	}

	&:active {
		background-color: darken(@buttonBgColor, 4%);
	}
}
table {
	width: 100%;
}
.hide{
	opacity: 0 !important;
	visibility: hidden;
}
.none {
	display: none;
}
.overflow-hidden {
	overflow: hidden;
}
.transparent {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
.row {
	display: flex;
	justify-content: space-between;
}
.clearfix {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}
.mce-btn button:hover {
	background-color: transparent;
}
.fa {
	margin: 0 7px;
}
label{
	margin-bottom: 5px;
	display: block;
	font-weight: bold;

	&.button {
		input {
			display: none;
		}
		.fa {
			margin-left: 0;
		}
	}
}
.buttonset {
	button:not(:last-child), .button:not(:last-child) {
		margin-right: 10px;
	}
}
pre{
	border-style: solid;
    border-width: 4px 0;
    background: @outerBorderColor;
    overflow-x: auto;
}
figure{
	text-align: center;
	margin: 0 auto;
	.fancy-border();
	img {
		margin-bottom: -3px;
	}
}
figcaption{
	border-top: 1px solid @outerBorderColor;
	margin-top: -4px;
	font-weight: bold;
	padding: 10px 0;
	background-color: @buttonBgColor;
}

#page > header, #page > footer{
	background: @panelBg;
	padding: 10px 25px;
	.fancy-border();
}
header{
	.top-line {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	.sitename{
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
		margin-top: 10px;
		letter-spacing: 0.2rem;
	}
}
.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 80px;
		margin-right: 10px;
	}
}
#content article, #content section{
	.blockContent();
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}
.comments {
	.empty {
		font-weight: bold;
		text-align: center;
		height: 200px;
		line-height: 200px;
	}
}
#content article, aside section, .comments-list {
	padding: 20px 25px;
}
#content, aside{
	display: flex;
}

#comment{
	height: 150px;
}
.site-info{
	width: 400px;
	margin-bottom: 20px;
}
.top-anchor {
	a {
		height: 50px;
		width: 50px;
		background-image: url(../images/arrowTop.png);
		position: fixed;
		bottom: 30px;
		right: 30px;
		opacity: 0.5;
		transition: opacity @defTransDur;
		&:hover {
			opacity: 1;
		}
	}
}
#content form .form-group {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	&.inline {
		border-bottom: 2px solid @bodyFontColor;
		padding-bottom: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		label {
			border-bottom: none;
			margin: 0;
			padding: 0;
		}
	}
}

.search-container {
	form {
		position: relative;
	}
	button {
		padding: 0 7px;
		position: absolute;
		right: 2px;
		top: 2px;
		border: none;
		height: 28px;
		border-radius: 0;
	}

}
.addition {
	margin-top: 10px;
	display: block;
	font-style: italic;
}
.addition, .author-name a{
		text-decoration: underline;
}
.category {
	font-weight: bold;
	a {
		font-size: 1.2rem;
	}
}
.thumbnail-container {
	float: left;
	margin-right: 15px;
	width: 300px;
}
.meta-data {
	display: flex;
	justify-content: space-between;
	.preview-author {
		flex-shrink: 0;
		> div {
			display: inline-block;
			vertical-align: top;
			text-align: right;
			font-style: italic;
			font-size: 0.9rem;
		}
		.author-name {
			margin-bottom: 3px;
		}
	}

}
article, .statistics-container {
	.author-avatar {
		margin-left: 10px;
	}
}
.preview-place {
	.author-avatar {
		.roundAvatar(64px);
	}
}
.preview-content {
	margin: 30px 0 40px;
}
.preview-footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	.post-buttons {
		flex-grow: 0;
		flex-shrink: 0;
	}

}
.tags {
	display: flex;
	li {
		margin-bottom: 15px;
	}
	a {
		color: @buttonBgColor;
		background-color: @bodyFontColor;
		padding: 2px 7px;
		text-decoration: none;
		border: 1px solid @outerBorderColor;
		border-radius: 6px;
		display: inline-block;
		&:hover {
			background-color: @tagsHoverColor;
		}
	}
}
.tags, .socials {
	ul {
		.menuLikeList();
		justify-content: flex-start;
		flex-wrap: wrap;
	}
}
.post-footer, .preview-footer{
	margin-top: 15px;
	.tags{
		li {
			margin-left: 10px;
		}
	}
}
footer {
	display: flex;
	justify-content: space-between;
	.site-information {
		width: 300px;
	}
	h3 {
		margin: 0;
	}
	.socials {
		text-align: center;
		li {
			margin: 0 5px;
		}
	}

	.copyright {
		margin-top: 10px;
	}
}

.categories-list {
	.clearedList();
	a {
		background: @buttonBgColor;
		padding: 10px 10px 10px 40px;
		margin-bottom: 12px;
		border: 1px solid @outerBorderColor;
		border-radius: 4px;
		display: block;
		text-decoration: none;
		position: relative;
		&:before {
			content: '\25BA';
			position: absolute;
			left: 12px;
			font-size: 0.8rem;
		}

	}
}
aside .categories-list a {
	transition: transform @defTransDur;
	&:hover {
		transform: translateX(15px);
	}
}
.stats-list {
	border-collapse: collapse;
	margin: 0;
	width: 100%;
	.author-avatar {
		.roundAvatar(2rem);
	}
	tr {
		margin-bottom: 10px;
		border: 1px solid @outerBorderColor;
		a {
			display: inline-block;
			width: 100%;
		}

	}
	tbody tr {
		transition: all @defTransDur;
		&:hover {
			background: @buttonBgColor;
			a {
				color: #fff;
			}
		}
	}
	td:first-child {
		width: 20%;
		padding-left: 15px;
	}
	td:last-child {
		width: 40%;
		text-align: right;
		padding-right: 15px;
	}
	th {
		height: 2rem;
	}
}
.registration-container {
	width: 600px;
	min-width: 320px;
}

.post-content figure {
	max-width: 800px;
	margin: 0 auto;
}

.post-footer {
	margin-bottom: 20px;
	.tags {
		margin-bottom: 30px;
	}
	.date-posted {
		float: right;
		font-style: italic;
		text-decoration: underline;
	}
	.back {
		padding-left: 10px;
		span.fa {
			margin-right: 10px;
		}
	}
}
ul.other-posts {
	display: flex;
	border-top: 4px  solid @bodyFontColor;
	border-bottom: 4px  solid @bodyFontColor;
	margin: 0 -25px -20px;
	li {
		width: 33.33%;
	}

	.img-pruner {
		overflow: hidden;
	}
	figure {
		padding: 10px;
		border: none;
		box-shadow: none;

		figcaption {
			margin-top: 5px;
			font-size: 0.8rem;
			line-height: 0.9rem;
			text-decoration: underline;
			border-top: none;
			background-color: transparent;
		}
	}
	a {
		display: inline-block;
		&:hover {
			background-color: @bodyFontColor;
			color: @buttonBgColor;
		}
	}
}

.author-container {
	figure {
		width: 80%;
	}
}
.write-comment {
	padding: 10px 25px;
	.fancy-border(@outerBorderColor, @innerBorderColor, 0, 0, 1px, 0);
	box-shadow: 0 1px 0 0 @outerBorderColor;

	a.button {
		padding-left: 5px;
	}
}

.comment {

	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}

	.comment-meta {
		display: flex;
		justify-content: space-between;
		font-size: 0.8rem;
		.comment-user {
			.author-avatar {
				.round(48px);
				float: left;
			}
			div {
				margin-left: 56px;
			}
			a {
				text-decoration: underline;
				font-weight: bold;
			}
		}
		.comment-user-role, .button{
			margin-top: 5px;
		}
		.comment-user-role{
			text-align: center;
		}
		.comment-data {
			text-align: right;

			> div {
				margin-bottom: 10px;
			}
		}
		.button {
			width: 120px;
		}
	}

	.comment-content {
		background: @panelBg;
		padding: 10px 16px;
		margin: 10px 0;
	}

	ul {
		margin: 10px 0 30px 10px;
		padding-left: 15px;
		border-left: 1px solid;
	}

	.answers-toggle-wrapper{
		padding-left: 5px;
		cursor: pointer;
		font-size: 0.8rem;
		display: inline-block;
		transition: none;
		.answers-info {
			margin-left: 5px;
		}

		&.expand {
			.answers-info {
				display: none;
			}
		}
	}

	.buttonset {
		float: right;
	}
}

#commentForm {
	width: 700px;

	.buttonset, .reply-to-container {
		margin-top: 10px;
	}
}
.reply-to{
	font-weight: bold;
}
.deleted-comment {
	font-weight: bold;
	text-decoration: line-through;
	opacity: 0.7;
}
#loader {
	height: 60px;
	width: 60px;
	background: url('/web/images/loader.gif');
	margin: 0 auto;
	display: none;
}
.loading #loader {
	display: block;
}
.ajax-empty, .ajax-error {
	.blockContent();
	font-size: 1.2rem;
	text-align: center;
	font-weight: bold;
	padding: 10px 0;
}
.noPosts, .userDeleted {
	height: 500px;
	line-height: 500px;
	font-size: 1.4rem;
	text-align: center;
	font-weight: bold;
}
.user-actions li a {
	display: block;
	margin: 13px 0;
	font-weight: bold;

	& span.fa {
		margin-left: 0;
	}

	&:hover {
		text-decoration: underline;
	}
}
li.actionSeparator {
	padding: 10px 0;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
}
.form-errors {
	li {
		text-align: center;
		font-style: italic;
		color: red;
		border: 1px dotted red;
		padding: 5px 0;
		background: #e7caca;
		margin-bottom: 7px;
	}
}
.message{
	border: 1px solid;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	margin: 7px 0;

	&.message-success {
		 color: green;
		 border-color: green;
		 background: #b0ceb0;
	 }

	&.message-error {
		color: red;
		border-color: red;
		background: #e7caca;
	}
}

.userRating, .postRating {
	font-weight: bold;

	&.positive {
		color: @upvoteColor;
		a {
			color: @upvoteColor;
		}
	}

	&.negative {
		color: @devoteColor;
		a {
			color: @devoteColor;
		}
	}

}
.postRating {
	background: @panelBg;
	display: inline-block;
	padding: 10px 15px;
	.fancy-border();
	.fa {
		margin-left: 0;
	}
}

.postPage {
	.postRating {
		padding: 10px 15px;
		height: 100%;

		.fa {
			margin: 0;
		}

		> span {
			display: inline-block;
			vertical-align: middle;
			margin: 0 7px;
		}

		.buttons {
			margin-left: 0;
			position: relative;
			padding-right: 25px;

			.fa-thumbs-up {
				position: absolute;
				right: 2px;
				top: 6px;
				transition: all @defTransDur;
			}

			a{
				display: block;
				font-size: 1.8rem;

				&.upvotePost:hover {
					color: @upvoteColor;

					& ~ .fa-thumbs-up {
						transform: rotateX(0deg);
						color: @upvoteColor
					}
				}

				&.devotePost:hover {
					color: @devoteColor;

					& ~ .fa-thumbs-up {
						color: @devoteColor;
						transform: rotateX(180deg);
					}
				}

				&, span {
					line-height: 0.5;
				}

			}

		}
	}
}

.commentRating {

	a {
		border: 1px solid transparent;

		&:hover {
			.fancy-border();
		}
	}

	.ratingCount {
		padding: 2px 10px;
		font-weight: bold;
		border-radius: 5px;
		border: 1px solid @outerBorderColor;
	}

	&.positive {
		.ratingCount {
			background: @upvoteColor;
		}
	}

	&.negative {
		.ratingCount {
			background: @devoteColor;
		}
	}
}

#page > div > a[target=_blank] {
	display: none;
}