@media screen and (max-width: 960px) {
	aside{
		flex-basis: 220px;
		padding: 20px 20px;
	}
    td {
    	padding: 6px 20px;
	}
	aside ol{
		padding-left: 25px;
	}
}
@media screen and (max-width: 768px) {
    #page{
        flex-direction: column;
    }
    aside{
        font-size: 1.2rem;
        flex-basis: initial;
        margin-left: 0; 
    }
    h1, h2{
    	font-size: 1.6rem;
    }
    aside button{
    	width: 100%;
    	margin: 5px 0;
    }
	.team{
		flex-flow: row wrap;
        justify-content: center;
	}
    .team figure{
        flex-basis: 50%;
    }
	.team figcaption{
		margin-top: -6px;
	}
	.team img{
		width: 100%;
	}
    .logo-container img{
		width: 50px;
	}
    nav ul{
        height: 50px;
    }
    nav li{
        padding: 0 10px;
    }
    nav a{
        font-size: 1rem;
    }
}
@media screen and (max-width: 480px) {
    td {
        padding: 4px 12px;
    }
    #showMenuButton{
        display: inline-block;
        padding-top: 15px;
    }
    nav ul{
        visibility: hidden;
        opacity: 0;
        transition: all .4s;
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
        top: 75px;
        flex-direction: column;
        height: auto;
    }
    nav ul.visible{
        visibility: visible;
        opacity: 1;
    }
    nav ul li{
        width: 100%;
        padding: 0;
    }
    nav ul a{
        padding: 10px 0;
        display: block;
        background-color: #121215;
    }
    nav ul a:hover{
        background-color: #2B2B31; 
    }
    .wrapper > header{
        padding: 10px;
        position: fixed;
        width: 100%;
    }
    main{
        margin-top: 94px;
    }
    .site-info{
        width: 100%;
    }
}