nav {
  ul.main-menu{
    .menuLikeList();

    li {
      position: relative;
      a {
        display: inline-block;
        padding: 15px 30px;
        font-size: 1.2rem;
        .fancy-border();
        text-decoration: none;
        background-image: svg-gradient(to bottom, @menuTopColor, @menuBottomColor);

        &.active {
          background-image: svg-gradient(to bottom, @menuBottomColor, @menuTopColor);
          color: #fff;
        }
      }

      &:hover > a{
        background-image: svg-gradient(to bottom, @menuBottomColor, @menuTopColor);
        color: #fff;
      }
      ul {
        position: absolute;
        right: @submenuWidth;
        .transHide();
        margin-right: 14px;
        top: 0;
        a {
          width: @submenuWidth;
          padding: 7px 0;
          font-size: 0.9rem;
          text-align: center;
          span.fa {
            position: absolute;
            left: 15px;
            transform: rotate(180deg);
          }
        }

        &:before {
          content: '\25BA';
          color: #222;
          font-size: 20px;
          display: block;
          text-align: right;
          position: absolute;
          right: -14px;
          top: 3px;
          z-index: 2;
          margin: 0 -3px 0;
        }
      }

      &:hover > ul {
        .transVisible();
      }

    }

    > li {
      margin: 0 8px;
      > ul {
        right: 0;
        top: auto;
        margin-right: 0;
        &:before {
          margin: -5px 0;
          content: "\25B2";
          position: relative;
          right: 0;
          top: 0;
        }
      }
      > a {
        span.fa {
          margin-left: 10px;
          transition: transform @defTransDur;
        }
      }
      &:hover {
        > a {
          span.fa {
            transform: rotate(90deg);
          }
        }
      }
    }

  }

}