.ui-modal {
  display: none;
}
.ui-dialog.ui-widget-content {
  padding: 20px 25px;
  position: fixed;
  .fancy-border();
  .center();
  min-width: 320px;
  z-index: 2;
  opacity: 1;
  background-color: @sectionBgColor;
  color: @bodyFontColor;

  .ui-dialog-titlebar {
    border: none;
    box-shadow: none;
  }

  .ui-dialog-titlebar {
    border-bottom: 2px solid @bodyFontColor;
    border-radius: 0;
    padding: 0 0 5px;
    font-size: 1.2rem;

    & + div {
      padding-top: 20px;
    }
  }

  .ui-dialog-content {
    padding: 0;
    overflow: hidden;
  }

  .ui-dialog-titlebar-close{
    position: absolute;
    top: 15px;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url(../images/close.svg);
    border: 1px solid #000;
    background-size: 14px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;

    .ui-button-icon {
      display: none;
    }

    &:hover{
      border-color: @bodyFontColor;
    }
  }

  &.ui-confirm {

    .ui-dialog-buttonpane {
      padding: 5px;

      .ui-dialog-buttonset {
        width: 100%;
        padding-left: 10px;

        button, .button {
          width: 50%;
          margin-right: 0;
          &:first-child {
            margin: 0 10px 0 -10px;
          }
        }
      }
    }

  }

}

.ui-widget-overlay{
  background-color: #000;
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .6;
}