.pagesPage {
  table {
    border-spacing: 0 10px;

    th {
      .fancy-border();
      border-width: 0 0 1px 0;
      padding-bottom: 5px;
      box-shadow: 0px 1px 0 0 @outerBorderColor;
    }

    tbody{

      tr:not(.empty) {
        box-shadow: 2px 2px 5px -1px rgba(0,0,0, .5);
        background: @bodyFontColor;
        transition: background @defTransDur;
        &:hover {
          background: #C2C2C3;
        }
      }

    }

    td {
      text-align: center;
      a {
        display: block;
        padding: 15px 0;
        color: @sectionBgColor;
        font-weight: bold;

      }
      &:first-child {
        width: 50%;
        text-align: left;
        padding-left: 25px;
      }
    }
  }

  .addPage {
    color: #fff;
    background: #1D6A06;
    border: solid #175205;
    border-width: 0 1px 1px 1px;
    padding: 10px;
    margin-top: -10px;
    border-radius: 0 0 10px 10px;
    float: right;
    .fa {
      margin-left: 0;
    }

    &:hover {
      background: #175205;
    }
  }

}
#content table tr.empty {
  td {
    height: 300px;
    text-align: center;
  }
}