#content {

  .registration-page, .login-page {
    margin: 0 auto;
  }

}
#content .registration-page {
  width: 500px;
 .columns {
   display: flex;
   flex-wrap:wrap;
   justify-content: space-between;
    .form-group {
      width: 48%;
    }
 }

  .avatarGroup {
    margin: 10px 0;
    text-align: center;
    figure {
      width: 200px;
      margin-bottom: 10px;
    }
  }
}