/*SANDWICH STYLES*/
#showMenuButton{
  display: none;
  cursor: pointer;
}
#sandwich {
  width: 26px;
  height: 26px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.sw-topper {
  position: relative;
  top: 3px;
  left: 1px;
  width: 24px;
  height: 3px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  /* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
  position: relative;
  width: 24px;
  height: 3px;
  left: 1px;
  top: 8px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
}
.sw-footer {
  position: relative;
  width: 24px;
  height: 3px;
  top: 13px;
  left: 1px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.active #sandwich .sw-topper {
  top: 11px;
  transform: rotate(140deg);
}
.active #sandwich .sw-bottom {
  top: 8px;
  transform: rotate(-140deg);
}
.active #sandwich .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg);
}
/*SANDWICH STYLES END*/