#content {
  .statistic-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h1 {
      width: 100%;
    }
    section {
      padding: 20px 25px;
      width: 49%;
      z-index: 0;
    }

    .stats-list {
      overflow: hidden;
      th {
        position: relative;
        span {
          margin-right: 7px;
        }

        &:after {
          content: "";
          position: absolute;
          background-color: transparent;
          left: 0;
          top: -20px;
          height: 10000px;
          width: 100%;
          z-index: -1;
          transition: background-color @defTransDur;
        }

        &:hover:after {
          background-color: @buttonBgColor;
        }
      }
      td {
        text-align: center;
        padding: 0;
          img, span {
            display: inline-block;
            vertical-align: middle;
          }

          span {
            margin-left: 10px;
          }

        &:first-child {
            width:1%;
            white-space:nowrap;
            padding: 0 15px;
        }
      }
      a {
        padding: 5px 0;
      }

      .authorMeta {
        text-align: left;
        padding-left: 90px;
      }
    }
  }

  .general {
    dl {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      dd, dt {
        width: 49%;
        margin: 10px 0;
      }

      dd {
        text-align: right;
        font-weight: bold;
      }
    }
  }
}