.file-selector-container {

  margin-top: -20px;
  border-bottom: 2px solid @bodyFontColor;
  height: 400px;

  .file-selector-list, .file-selector-form {
    padding: 20px 10px;
  }

  &, & .file-selector-list, & .file-selector-form {
    display: flex;
    flex-direction: row;
  }

  .file-selector-loader {
    background-image: url('/web/images/selector-loader.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .file-selector-list {
    flex-grow: 1;
    padding-left: 20px;
    overflow: auto;
    position: relative;
    flex-wrap: wrap;
    li {
      flex-basis: 20%;
      margin-bottom: 5px;
      cursor: pointer;

      &:nth-child(5n + 1) {
        margin-left: -20px;
      }

      &:not(:nth-child(5n)) {
        margin-right: 5px;
      }

      &:hover {
        figure {
          border: 1px solid #fff;
          box-shadow: 0 0 0 1px #fff;
        }
      }

    }

    &::-webkit-scrollbar-track
    {
      border-radius: 10px;
      background-color: #a8a8aa;
    }

    &::-webkit-scrollbar
    {
      width: 4px;
      background-color: #a8a8aa;
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      background-color: #5B5B5D;
    }

  }

  .file-selector-form {
    flex: 0 0 200px;
    text-align: center;
    border-left: 2px solid @bodyFontColor;
    justify-content: center;
    align-items: center;
    figure {
      width: 170px;
      margin-bottom: 10px;
      position: relative;
      padding: 10px 0;
    }

      #file-selector-upload {
        display: none;
      }

      .button[for=file-selector-upload] {
        font-weight: normal;
        span {
          margin-left: 0;
        }
      }

    label.button {
      padding-left: 10px;
    }
  }

  .file-selector-progress-layout {
    .fullArea();

    background: rgba(0, 0, 0, .2);

    .file-selector-progress {
      padding: 0 20px;
      height: 1em;
      width: 100%;
      .center();

      .ui-progressbar-overlay {
        border: 1px solid #1b1c20;
        border-top: 2px solid #1b1c20;
        opacity: .8;
      }
    }
  }

}
