.user-page {

  figure.user-avatar-wrapper {
    float: left;
    width: 200px;
    padding: 2px;
  }

  .user-data {
    margin-left: 220px;
  }
  .user-bio {
    margin-top: 20px;
    clear: both;
  }

  .user-label {
    font-size: 0.8rem;
  }

  .user-field {
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  h3 {
    margin: 5px 0;
  }

  footer {
    display: flex;
    margin-top: 40px;
  }
}