.usersPage {

  .usersTable {
    text-align: center;
    .fancy-border();
    border-collapse: collapse;

    thead tr {
      background: @panelBg;

      th {
        padding: 15px 0;
      }
    }

    tr {
      .fancy-border();

      a{
        padding: 5px 0;

        &.author {
          color: #0a1a6a;
        }

        &.admin {
          color: #f40d01;
        }
      }

    }

    tbody tr {
      transition: background @defTransDur;
      &:nth-child(even) {
        background: @outerBorderColor;
      }

      &:hover {
        background: @bodyBgColor;

        a {
          color: @anchorHoverColor;
        }
      }

      img {
        .round(32px);
        border: 1px solid @outerBorderColor;
      }
    }

    .fa-gavel {
      transform: rotate(50deg);
      transition: transform @defTransDur;
    }

    a:hover .fa-gavel {
      transform: rotate(140deg);
    }

  }

}