@bodyBgColor: #2B2B31;
@bodyFontColor: #a8a8aa;
@panelBg: #121215;
@anchorHoverColor: #fff;
@sectionBgColor: #1b1c20;
@buttonBgColor: #2b2c32;
@buttonFontColorHover: #fff;
@outerBorderColor: #111113;
@innerBorderColor: #28292f;
@tagsHoverColor: darken(@bodyFontColor, 15%);
@menuBottomColor: #131316;
@menuTopColor: #2b2b31;
@upvoteColor: green;
@devoteColor: #9E0606;

@defTransDur: .3s;
@innerBorder: 1px solid @innerBorderColor;
@submenuWidth: 200px;


.fancy-border(@outer: @outerBorderColor, @inner: @innerBorderColor, @top: 1px, @right: 1px, @bottom: 1px, @left: 1px) {
  border: solid @inner;
  border-width: @top @right @bottom @left;
  box-shadow: 0 0 0 1px @outer;
  border-radius: 3px;
}

.fullArea() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.centerChild() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.round(@size) {
  width: @size;
  height: @size;
  border-radius: @size / 2;
  overflow: hidden;
}

.clearedList() {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.transHide() {
  visibility: hidden;
  opacity: 0;
  transition: opacity @defTransDur;
}

.transVisible() {
  visibility: visible;
  opacity: 1;
}

.menuLikeList() {
  .clearedList();
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.blockContent() {
  background-color: @sectionBgColor;
  margin: 0 0 20px;
  .fancy-border();

  &:last-child {
    margin-bottom: 0;
  }
}

.roundAvatar(@size: 2rem) {
  .round(@size);
  border: 2px solid #111113;
}
/*.animatedGradientBg(@topColor, @bottomColor) {
  position: relative;
  z-index: 2;
  &:before, &:after {
    content: "";
    position: absolute;
    transition: opacity @defTransDur;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  &:before {
    background: linear-gradient(to top, @topColor 0%,@bottomColor 100%);
  }
  &:after {
    background: linear-gradient(to bottom, @topColor 0%,@bottomColor 100%);
  }
  &:hover:after {
    opacity: 0;
  }
}*/